/* BOX */

.mod-cloud-box{{{cns}}} {
    border-radius: 20px;
    position: relative;
    background-image: url(/resources/box/thecloudcondense500x520.png{{{ns}}});
    height: 520px;
    width: 500px;

    /* CONTROLS */
    .mod-control-group {
        border: 1px solid #43d367 0 0;
        position: absolute;
        color: #dbdddd;
        left: 58px;
        /* right: 60px; */
        top: 40px;

        > div {
            margin-right: 0px;
            margin-left: 8px;
        }

        .mod-pedal-input,
        .mod-pedal-output {
            top: 30px;
        }
    }

    /* LIGHT ON/OFF */
    .mod-light {
        background-position: center center;
        background-repeat: no-repeat;
        height: 32px;
        position: relative;
        top: 290px;
    } 

    
    /* SWITCH ON/OFF */
    .mod-footswitch {
        background-image: url(/resources/switches/footswitch.png{{{ns}}});
        background-size: auto 132px;
        position: relative;
        top: 355px;
        left: 220px;
        cursor: pointer;
        height: 66px;
        width: 66px;
        z-index: 40;

        &.on {
            background-position:top center;
        }

        &.off {
            background-position:bottom center;
        }
    }

    /* KNOBS */

    .mod-white-knob {
        float: left;
        /* overflow: hidden; */
        position: relative;
        text-align: center;
        height: 105px;
        width: 85px;

        .mod-white-knob-image {
            background-image: url(/resources/knobs/NJD_White65px.png{{{ns}}});
            background-position: left 0px;
            background-size: auto 85px;
            /* margin-top: 0px; */
            /* position: relative; */
            height: 85px;
            width: 85px;
            z-index: 2;
        }

        .mod-white-knob-title {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 13px;
            font-weight: bold;
            text-transform: uppercase;
            position: relative;
            /* height:15px; */
            left: 0;
            right: 0;
            /* overflow:hidden; */
            top: 103px;
            /* bottom: 100; */
            z-index: 1;
        }
    }




    /* TOGGLE */
    /* .mod-toggle {
        float: left;
        position: relative;
        text-align: center;
        height: 105px;
        width: 85px; */

    .mod-toggle-image {
        background-image: url(/resources/knobs/toggle.png{{{ns}}});
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 88px 256px;
        position: relative;
        cursor: pointer;
        width: 44px;
        height: 128px;
        /* background-color: grey; */
        top: 10px;
        left: 10px;
        z-index: 50;

        &.on {
            background-position:top center;
        }

        &.off {
            background-position:bottom center;
        }


    .mod-toggle-image-title {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        font-weight: bold;
        height: 18px;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        top: 0;
    }   

}

