/* = CONTAINER
================================================ */
.mod-pedal-cloud {
    background-image:url(/resources/pedals/TheCloud520x523.png{{{ns}}});
    background-position: 0 0;
    background-repeat:no-repeat;
    height:523px;
    position:absolute;
    width:520px;
    border-radius: 20px;
}

/* = PLUGIN'S AUTHOR
================================================ */
/* 
.mod-pedal-cloud .mod-plugin-brand {
    left:30px;
    position:absolute;
    right:30px;
    text-align:center;
    text-transform:uppercase;
    top:290px;
}

.mod-pedal-cloud .mod-plugin-brand h1 {
    color:#111;
    font-family:"Nexa";
    font-size:32px;
} */

/* = PLUGIN'S NAME
================================================ */
/* 
.mod-pedal-cloud .mod-plugin-name {
    left:30px;
    overflow:hidden;
    position:absolute;
    right:30px;
    text-align:center;
    top:330px;
}

.mod-pedal-cloud .mod-plugin-name h1 {
    font-family:"Questrial";
    font-size:24px;
    line-height:1;
} */

/* = LIGHT ON/OFF
================================================ */
.mod-pedal-cloud .mod-light {
    height:32px;
    left:0;
    margin:0 auto;
    position:absolute;
    right:0;
    bottom:190px;
    width:32px;
}

/* = FOOTSWITCH
================================================ */
.mod-pedal-cloud .mod-footswitch {
    background-image:url(/resources/pedals/footswitch.png{{{ns}}});
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:auto 132px;
    bottom:106px;
    cursor:pointer;
    height:66px;
    width: 66px;
    left:13px;
    margin: auto;
    position:absolute !important;
    right:13px;
    z-index:30;
}
.mod-pedal-cloud .mod-footswitch.on {
    background-position-y: top !important
}

/* = INPUTS/OUTPUTS
================================================ */
.mod-pedal-cloud .mod-pedal-input,
.mod-pedal-cloud .mod-pedal-output {
    top:80px;
}

/* = BACKGROUND IMAGES - Colour of the pedal
/* ================================================ */


.mod-pedal-cloud.mod-blue { background-image:url(/resources/pedals/TheCloud520x523.png{{{ns}}}); }


/* = COLORS - Color of the pedals labels
================================================ */

.mod-pedal-cloud.mod-humphreys .mod-enumerated
{
    background-image:url(/resources/utils/dropdown-arrow-white.png{{{ns}}});
}
.mod-pedal-cloud.mod-che .mod-enumerated,
.mod-pedal-cloud.mod-darkblue .mod-enumerated,
.mod-pedal-cloud.mod-camouflage .mod-enumerated,
.mod-pedal-cloud.mod-black .mod-enumerated,
.mod-pedal-cloud.mod-racing .mod-enumerated,
.mod-pedal-cloud.mod-red .mod-enumerated,
.mod-pedal-cloud.mod-brown .mod-enumerated,
.mod-pedal-cloud.mod-star .mod-enumerated,
.mod-pedal-cloud.mod-petrol .mod-enumerated,
.mod-pedal-cloud.mod-none .mod-enumerated,
.mod-pedal-cloud.mod-skull .mod-enumerated,
.mod-pedal-cloud.mod-purple .mod-enumerated,
.mod-pedal-cloud.mod-green .mod-enumerated
{
    background-image:url(/resources/utils/dropdown-arrow-white.png{{{ns}}});
}
.mod-pedal-cloud.mod-yellow .mod-enumerated,
.mod-pedal-cloud.mod-pink .mod-enumerated,
.mod-pedal-cloud.mod-cream .mod-enumerated,
.mod-pedal-cloud.mod-blue .mod-enumerated,
.mod-pedal-cloud.mod-orange .mod-enumerated,
.mod-pedal-cloud.mod-white .mod-enumerated,
.mod-pedal-cloud.mod-cyan .mod-enumerated,
.mod-pedal-cloud.mod-gray .mod-enumerated
{
    background-image:url(/resources/utils/dropdown-arrow-black.png{{{ns}}});
}
.mod-pedal-cloud.mod-atomic .mod-enumerated
{
    background-image:url(/resources/utils/dropdown-arrow-white.png{{{ns}}});
}
.mod-pedal-cloud.mod-anonymous .mod-enumerated
{
    background-image:url(/resources/utils/dropdown-arrow-black.png{{{ns}}});
}
.mod-pedal-cloud.mod-humphreys h1,
.mod-pedal-cloud.mod-humphreys .mod-enumerated,
.mod-pedal-cloud.mod-humphreys .mod-control-group-row1 .mod-knob > span.mod-knob-title
{
    color: white;
}
.mod-pedal-cloud.mod-che h1,
.mod-pedal-cloud.mod-che .mod-enumerated,
.mod-pedal-cloud.mod-che .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-darkblue h1,
.mod-pedal-cloud.mod-darkblue .mod-enumerated,
.mod-pedal-cloud.mod-darkblue .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-camouflage h1,
.mod-pedal-cloud.mod-camouflage .mod-enumerated,
.mod-pedal-cloud.mod-camouflage .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-black h1,
.mod-pedal-cloud.mod-black .mod-enumerated,
.mod-pedal-cloud.mod-black .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-racing h1,
.mod-pedal-cloud.mod-racing .mod-enumerated,
.mod-pedal-cloud.mod-racing .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-red h1,
.mod-pedal-cloud.mod-red .mod-enumerated,
.mod-pedal-cloud.mod-red .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-brown h1,
.mod-pedal-cloud.mod-brown .mod-enumerated,
.mod-pedal-cloud.mod-brown .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-star h1,
.mod-pedal-cloud.mod-star .mod-enumerated,
.mod-pedal-cloud.mod-star .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-petrol h1,
.mod-pedal-cloud.mod-petrol .mod-enumerated,
.mod-pedal-cloud.mod-petrol .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-none h1,
.mod-pedal-cloud.mod-none .mod-enumerated,
.mod-pedal-cloud.mod-none .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-skull h1,
.mod-pedal-cloud.mod-skull .mod-enumerated,
.mod-pedal-cloud.mod-skull .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-purple h1,
.mod-pedal-cloud.mod-purple .mod-enumerated,
.mod-pedal-cloud.mod-purple .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-green h1,
.mod-pedal-cloud.mod-green .mod-enumerated,
.mod-pedal-cloud.mod-green .mod-control-group-row1 .mod-knob > span.mod-knob-title
{
    color:white;
}
.mod-pedal-cloud.mod-yellow h1,
.mod-pedal-cloud.mod-yellow .mod-enumerated,
.mod-pedal-cloud.mod-yellow .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-pink h1,
.mod-pedal-cloud.mod-pink .mod-enumerated,
.mod-pedal-cloud.mod-pink .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-cream h1,
.mod-pedal-cloud.mod-cream .mod-enumerated,
.mod-pedal-cloud.mod-cream .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-blue h1,
.mod-pedal-cloud.mod-blue .mod-enumerated,
.mod-pedal-cloud.mod-blue .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-orange h1,
.mod-pedal-cloud.mod-orange .mod-enumerated,
.mod-pedal-cloud.mod-orange .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-white h1,
.mod-pedal-cloud.mod-white .mod-enumerated,
.mod-pedal-cloud.mod-white .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-cyan h1,
.mod-pedal-cloud.mod-cyan .mod-enumerated,
.mod-pedal-cloud.mod-cyan .mod-control-group-row1 .mod-knob > span.mod-knob-title,
.mod-pedal-cloud.mod-gray h1,
.mod-pedal-cloud.mod-gray .mod-enumerated,
.mod-pedal-cloud.mod-gray .mod-control-group-row1 .mod-knob > span.mod-knob-title
{
    color:black;
}
.mod-pedal-cloud.mod-atomic h1,
.mod-pedal-cloud.mod-atomic .mod-enumerated,
.mod-pedal-cloud.mod-atomic .mod-control-group-row1 .mod-knob > span.mod-knob-title
{
    color: white;
}
.mod-pedal-cloud.mod-anonymous h1,
.mod-pedal-cloud.mod-anonymous .mod-enumerated,
.mod-pedal-cloud.mod-anonymous .mod-control-group-row1 .mod-knob > span.mod-knob-title
{
    color: #c00;
}
.mod-pedal-cloud.mod-atomic .mod-control-group-row1 .mod-knob > span.mod-knob-title
{
    background: black;
}
.mod-pedal-cloud.mod-humphreys h1
{
    border-color:white;
}
.mod-pedal-cloud.mod-che h1,
.mod-pedal-cloud.mod-darkblue h1,
.mod-pedal-cloud.mod-camouflage h1,
.mod-pedal-cloud.mod-black h1,
.mod-pedal-cloud.mod-racing h1,
.mod-pedal-cloud.mod-red h1,
.mod-pedal-cloud.mod-brown h1,
.mod-pedal-cloud.mod-star h1,
.mod-pedal-cloud.mod-petrol h1,
.mod-pedal-cloud.mod-none h1,
.mod-pedal-cloud.mod-skull h1,
.mod-pedal-cloud.mod-purple h1,
.mod-pedal-cloud.mod-green h1
{
    border-color:white;
}
.mod-pedal-cloud.mod-yellow h1,
.mod-pedal-cloud.mod-pink h1,
.mod-pedal-cloud.mod-cream h1,
.mod-pedal-cloud.mod-blue h1,
.mod-pedal-cloud.mod-orange h1,
.mod-pedal-cloud.mod-white h1,
.mod-pedal-cloud.mod-cyan h1,
.mod-pedal-cloud.mod-gray h1
{
    border-color:black;
}

/* STYLES FOR THE BOXY KNOB */

/* = KNOBS
================================================ */


.mod-pedal-cloud .mod-pedal-knob{
    background-image:url(/resources/knobs/NJD_White65px.png{{{ns}}});
    background-position:left center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: auto 95px;
    height: 95px;
    width: 95px;
    /* margin: 0 auto; */
	position: absolute;
	z-index: 40;
    text-align:center;
    /* display:inline-block; */
    /* top: 200px; */
}

.mod-pedal-cloud .mod-pedal-knob .knob_title {
    /* text-align:center; */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    /* height:18px; */
    left: 0;
    /* overflow:hidden; */
    position:absolute;
    right: 0;
    text-transform: uppercase;
    top: -17px;
    /* bottom: 10 px; */
    /* z-index: 50; */
    color: rgb(239, 240, 240);
    /* display: contents; */  
}

.mod-pedal-cloud .mod-pedal-knob .knob_title_below {
    /* text-align:center; */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    /* height:18px; */
    left: 0;
    /* overflow:hidden; */
    position:absolute;
    right: 0;
    text-transform: uppercase;
    top: 95px;
    /* bottom: 10 px; */
    /* z-index: 50; */
    color: rgb(215, 225, 225);
    /* display: contents; */  
}

.mod-pedal-cloud .mod-pedal-knob.density_knob{
	left: 57px;
	top: 76px;
}

.mod-pedal-cloud .mod-pedal-knob.detune_knob{
	left: 157px;
	top: 76px;
}

.mod-pedal-cloud .mod-pedal-knob.flow_knob{
	left: 257px;
	top: 76px;
}

.mod-pedal-cloud .mod-pedal-knob.mix_knob{
	left: 357px;
	top: 76px;
}

.mod-pedal-cloud .mod-pedal-knob.straight_del_knob{
	left: 107px;
	top: 156px;
}

.mod-pedal-cloud .mod-pedal-knob.time_knob{
	left: 207px;
	top: 156px;
}

.mod-pedal-cloud .mod-pedal-knob.width_knob{
	left: 307px;
	top: 156px;
}

/* ENV SWITCH */
.mod-pedal-cloud .mod-switch-slide {
    background-image: url(/resources/switches/switch_slide3.png{{{ns}}});
    position: absolute;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 80px auto;
    margin: 0 auto;
    cursor: pointer;
    height: 80px;
    width: 80px;
    margin: 0 auto;
	z-index: 50;
}

/* .mod-pedal-cloud .mod-switch-slide.on {
    background-position:center top;
}
.mod-pedal-cloud .mod-switch-slide.off {
    background-position:center bottom;
} */

.mod-pedal-cloud .mod-switch-slide.env_type_switch{
	left: 365px;
	top: 270px;	
}


/* .mod-pedal-cloud .mod-knob-density {
    background-image:url(/resources/knobs/NJD_White65px.png{{{ns}}});
    background-position:left center;
    background-repeat:no-repeat;
    background-size:auto 95px;
    height:95px;
    position:relative;
    width:95px;
    left: 50px;
    right:0px;
    top:56px;
    display:inline-block;
    text-align:center;
    z-index: 30;
} */
/* .mod-pedal-cloud .mod-knob-detune {
    background-image:url(/resources/knobs/NJD_White65px.png{{{ns}}});
    background-position:left center;
    background-repeat:no-repeat;
    background-size:auto 95px;
    height:95px;
    position:relative;
    width:95px;
    left: 200px;
    right:0px;
    top:56px;
    display:inline-block;
    text-align:center;
    z-index: 30;
} */
/*
.mod-pedal-cloud.mod-blue .mod-control-group-row1 .mod-knob > span.mod-knob-title {
    color:black;
}

.mod-pedal-cloud.mod-brown .mod-control-group-row1 .mod-knob > span.mod-knob-title {
    color:white;
}

.mod-pedal-cloud.mod-cream .mod-control-group-row1 .mod-knob > span.mod-knob-title {
    color:black;
}

.mod-pedal-cloud.mod-darkblue .mod-control-group-row1 .mod-knob > span.mod-knob-title {
    color:white;
}

.mod-pedal-cloud.mod-gray .mod-control-group-row1 .mod-knob > span.mod-knob-title {
    color:black;
}

.mod-pedal-cloud.mod-green .mod-control-group-row1 .mod-knob > span.mod-knob-title {
    color:white;
}

.mod-pedal-cloud.mod-orange .mod-control-group-row1 .mod-knob > span.mod-knob-title {
    color:black;
}

.mod-pedal-cloud.mod-purple .mod-control-group-row1 .mod-knob > span.mod-knob-title {
    color:white;
}

.mod-pedal-cloud.mod-red .mod-control-group-row1 .mod-knob > span.mod-knob-title {
    color:black;
}

.mod-pedal-cloud.mod-white .mod-control-group-row1 .mod-knob > span.mod-knob-title {
    color:black;
}

.mod-pedal-cloud.mod-yellow .mod-control-group-row1 .mod-knob > span.mod-knob-title {
    color:black;
} */


/* 
.mod-pedal-cloud .mod-control-group-row1 .mod-knob > span.mod-knob-title {
    bottom:6px;
    display:block;
    font-size:11px;
    font-weight:bold;
    height:11px;
    left:0;
    line-height:1;
    margin:0;
    overflow:hidden;
    padding:0;
    position:absolute;
    right:0;
    text-transform:uppercase;
} */
/* 
.mod-pedal-cloud .mod-control-group-row1 {
    margin:20px;
    position:relative;
    text-align:center;
    z-index:30;
} */
/* 
.mod-pedal-cloud.mod-seven-knobs .mod-control-group-row1,
.mod-pedal-cloud.mod-eight-knobs .mod-control-group-row1 {
    margin:0 6px;
}

.mod-pedal-cloud.mod-seven-knobs .mod-control-group-row1 .mod-knob,
.mod-pedal-cloud.mod-eight-knobs .mod-control-group-row1 .mod-knob {
    display:inline-block;
} */
