/* BOX */
.mod-cloud-box{{{cns}}} {
    border-radius: 20px;
}

.mod-cloud-box-0500{{{cns}}} {
    background-image: url(/resources/box/thecloudcondense500x520.png{{{ns}}});
    background-position: center center;
    background-repeat: no-repeat;
    height: 520px;
    position: relative;
    width: 500px;
}

/* CONTROLS */

.mod-cloud-box{{{cns}}} .mod-control-group {
    border: none;
    /* border-color: #43d367;
    border-style: solid;
    border-width: 1px 0 0 0; */
    /* bottom: 0px; */
    position: absolute;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    /* height: 20px; */
    left: 60px;
    right: 50px;
    top: 70px;
}

.mod-cloud-box{{{cns}}} .mod-control-group > div {
    margin-right: 0px;
    margin-left: 8px;
}

.mod-cloud-box{{{cns}}} .mod-pedal-input,
.mod-cloud-box{{{cns}}} .mod-pedal-output {
    top: 30px;
}

/* = LIGHT ON/OFF */

.mod-cloud-box{{{cns}}} .mod-light {
    background-position:center center;
    background-repeat:no-repeat;
    height:32px;
    left:10px;
    position:absolute;
    right:10px;
    top:320px;
}


/* SWITCH ON/OFF */

.mod-cloud-box{{{cns}}} .mod-footswitch {
    background-image:url(/resources/switches/footswitch.png{{{ns}}});
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:auto 132px;
    bottom: 95px;
    top:400px;
    left: 13px;
    right: 13px;
    cursor:pointer;
    height:66px;
    width: 66px;
    margin: auto;
    position:absolute !important;
}

.mod-cloud-box{{{cns}}} .mod-footswitch.on {
    background-position-y: top !important
}


/* KNOBS */

.mod-cloud-box{{{cns}}} .mod-NJD_White {
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    height: 85px;
    width: 65px;
}

.mod-cloud-box{{{cns}}} .mod-NJD_White .mod-NJD_White-image {
    background-image: url(/resources/knobs/NJD_White65px.png{{{ns}}});
    background-position: left 0px;
    background-repeat: no-repeat;
    background-size: auto 65px;
    margin-top: 17px;
    position: relative;
    height: 65px;
    width: 65px;
    z-index: 2;
}

.mod-cloud-box{{{cns}}} .mod-NJD_White .mod-NJD_White-title {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height:18px;
    left: 0;
    overflow:hidden;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    z-index: 1;
}
