/* BOX */
.mod-cloud-box{{{cns}}} {
    border-radius: 20px;
    position: relative;

    &.mod-cloud-box-0500 {
        background-image: url(/resources/box/thecloudcondense500x520.png{{{ns}}});
        height: 520px;
        width: 500px;
    }

    /* CONTROLS */
    .mod-control-group {
        border: 1px solid #43d367 0 0;
        position: absolute;
        color: #ffffff;
        left: 60px;
        right: 50px;
        top: 70px;

        > div {
            margin-right: 0px;
            margin-left: 8px;
        }

        .mod-pedal-input,
        .mod-pedal-output {
            top: 30px;
        }
    }

    /* LIGHT ON/OFF */
    .mod-light {
        background-position: center center;
        background-repeat: no-repeat;
        height: 32px;
        left: 10px;
        position: absolute;
        right: 10px;
        top: 320px;
    }

    /* SWITCH ON/OFF */
    .mod-footswitch {
        background-image: url(/resources/switches/footswitch.png{{{ns}}});
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: auto 132px;
        bottom: 95px;
        top: 400px;
        left: 13px;
        right: 13px;
        cursor: pointer;
        height: 66px;
        width: 66px;
        margin: auto;
        position: absolute;

        &.on {
            background-position-y: top;
        }
    }

    /* KNOBS */
    .mod-white-knob {
        height: 100px;
        width: 85px;

        .mod-white-knob-image {
            background-image: url(/resources/knobs/NJD_White65px.png{{{ns}}});
            background-position: left 0px;
            background-repeat: no-repeat;
            background-size: auto 85px;
            height: 85px;
            width: 85px;
        }

        .mod-white-knob-title {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: bold;
            height: 15px;
            left: 0;
            overflow: hidden;
            position: absolute;
            right: 0;
            text-transform: uppercase;
            top: 0;
        }
    }

    /* TOGGLE */
    .mod-toggle {
        display: flex;
        flex-direction: column;
        align-items: center;

        .mod-toggle-image {
            background-image: url(/resources/knobs/toggle.png{{{ns}}});
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: 33px 96px;
            cursor: pointer;
            width: 33px;
            height: 48px;
            transform: rotate(-90deg);

            &.on {
                background-position-y: top;
            }

            .mod-toggle-image-title {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 10px;
                font-weight: bold;
                height: 18px;
                left: 0;
                overflow: hidden;
                position: absolute;
                right: 0;
                text-transform: uppercase;
                top: 0;
            }
        }
    }
}
